* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    width: 100%;
    height: 93px;
    margin: auto;
    display: flex;
}
.Logo > img {
    margin: 23px auto 24px 265px;
}
menu {
    width: 100%;
    margin: 30px 281px 30px 334px;
    display: flex;
    justify-content: space-around;
    padding: 5px;
}
menu > a {
    min-height: 34px;
    color: #868686;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    padding: 7px 0 0 0;
    min-width: 81px;
    text-align: center;
    text-decoration: none;
}
menu > a:hover {
    background-color: #ffbb42;
    color: white;
    border-radius: 10px;
}
span {
    margin: 10px;
}
.formwrapper {
    width: 100%;
height: 589px;
background-color: #709dca;
display: flex;
justify-content: flex-start;
align-items: center;
flex-direction: column;
position: relative;
}
.boost {
    margin-top: 100px;
    width: 721px;
    height: 53px;
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
}
.boost > p {
    text-transform: none;
    font-size: 16px;
}
.form {
    margin-top: 33px;
}
.form > input {
    height: 46px;
    width: 281px;
    margin-left: 10px;
    font-size: 20px;
    border: 0;
    padding-left: 45px;
}

::placeholder {
    width: 85px;
    color: #a9a9a9;
    font-size: 20px;
}
input[type=email] {
    background-image: url(img/list.jpg);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 30px;
    background-position-x: 10px;
}
.username {
    background-image: url(img/ï€‡.jpg);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 20px;
    background-position-x: 10px;
}
.phone {
    background-image: url(img/Phone.jpg);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 17px;
    background-position-x: 15px;
}

input[type=submit] {
    width: 280px;
    height: 46px;
    background-color: #ffbb42;
    color: #ffffff;
    padding: 0;
}
.notebook {
    width: 650px;
    height: 350px;
    margin-top: 309px;
    position: absolute;
    background-image: url(img/Vector_Smart_Object.png);
}
.layer {
    top: 0;
    position: absolute;
    margin: 18px 100px 61px 102px;
    overflow: hidden;
}
.services {
width: 100%;
height: 1200px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
}
.tx {
    height: 47px;
    width: 367px;
    line-height: normal;
    text-align: center;
    font-size: 20px;
    margin-bottom: 50px;
    margin-top: 200px;
}
.tx > h2 {
    font-size: 40px;
}
.service-items-wrapper {
    height: 650px;
    width: 100%;
    pad: 50px;
}
.serviceblock {
    display: flex;
    justify-content: space-evenly;
    height: 100px;
    margin-top: 100px ;
}
.tx-img {
    display: flex;
    justify-content: center;
    align-items: center;
}
.servicetext {
    width: 467px;
    height: 57px;
    margin-left: 40px;
    font-size: 25px;
}
.servicetext > p {
    margin-top: 25px;
    font-size: 18px;
}
.serviceimg > img {
    height: 60px;
    width: 60px;
}
.aboutus {
    background-color: #ffc155;
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: center;
}
.img-about-us {
    background-image: url(img/backaboutus.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    height: 700px;
}
.about-us-block {
    height: 300px;
    width: 505px;
    margin-top: 164px;
    margin-left: 150px;
    height: 157px;
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 24px;
    text-align: left;
}
.about-us-block > h2 {
    width: 157px;
height: 21px;
color: #ffffff;
font-family: "Gotham - Black";
font-size: 30px;
font-weight: 400;
font-style: normal;
letter-spacing: normal;
line-height: 22px;
text-align: left;
margin-bottom: 30px;
}


.tx-about-us {
    width: 50%;
    height: 700px;
}
.about-us-block > input {
    width: 145px;
    height: 46px;
    border: 1px solid #e7ad48;
    background-color: #e7ad48;
    margin-top: 30px;
}
.price {
    width: 100%;
    height: 900px;
    color: #75888d;
    font-family: Lato;
    font-size: 18px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e7edf3;
}
.price-block {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 80px 0;
    width: 1400px;
}
.price-items {
    height: 450px;
    width: 400px;
    background-color: white;
    line-height: 60px;
    padding: 35px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.class {
color: #818b95;
font-size: 25px;
line-height: 22px;
text-align: center;
text-transform: uppercase;
}
.prcformouth {
    width: 80px;
    height: 100px;
    line-height: 8px;
    text-align: center;
    margin-top: 30px;
    font-size: 13px;
}
.price-plan {
    color: #ffbb42;
font-family: "Lato - Bold";
font-size: 60px;
font-weight: 700;
font-style: normal;
letter-spacing: normal;
line-height: normal;
text-transform: uppercase;
}
.text-plan {
    color: #b5bbc1;
    font-size: 14px;
    line-height: 40px;
    text-transform: uppercase;
    margin-top: 30px;
    width: 90%;
}
.text-plan > p {
    border-top: 1px solid #e2e9f0;
}
.price-items > input {
    width: 150px;
    height: 50px;
    color: #ffffff;
    font-size: 14px;
    text-align: center;
    border: 0;
    border-radius: 5px;
    margin-top: 10px;
}
.price-items:hover {
    background-color:#709dca;
    transform: scale(1.2);
    transition: 1s;
    color: white;
}
.price-items:hover > h3, .price-items:hover > .prcformouth > h3 {
    color: white;
}